.review-card {
	border-color: #333;
	border-width: 1px;
	border-style: solid;
	padding: 5px;
}

.review-card .header {
	height: 40px;
}

.review-card .left {
	position: relative;
	top: 5px;
	left: 5px;
	width: 10%;
	display: inline-block;
}

.review-card .center {
	text-align: center;
	position: relative;
	top: 5px;
	display: inline-block;
	width: 80%;
	margin: 0px;
}

.review-card .image{
	height: 60%;
	width: 100%
}

.review-card .image img{
	width: 100%;
	height: 100%;
}

.review-card .content {
	padding-left: 10px;
	padding-right: 10px;
}

.review-card .content .title{
	font-size: 25px;
	font-weight: bold;
	display: inline-block;
}

.review-card .content .extra .meta {
	font-size: 14px;
	height: auto;
	font-weight: lighter;
	display: block;
	text-align: right;
	vertical-align: text-bottom;
	position: relative;
	float: right;
	display: inline-block;
	position: absolute;
	top: 6px;
	right: 0px;
}

.review-card .content .star.rating{
	display: inline-block;
}

.review-card .content .extra{
	position: relative;
}

.review-card .content .extra .tags {
	display: inline-block;
	font-size: 22px;
	
}

.review-card .content  .description {
	margin-top: 4%;
	font-size: 20px;
	margin-bottom: 3%;
	display: block;
}

.review-card .content .bottom-button {
	margin-top: 1%;
}