.review {
  height: 110px;
  border-style: solid;
  border-width: 1px;
  border-color: #000;
  border-collapse: collapse;
  margin-bottom: 10px;
}

.review .image{
  display: inline-block;
  position: relative;
  height: 100%;
  width: 25%;
}

.review .image img{
  position: relative;
  width: 100%;
  height: 80%;
  background-color: #666;
}


.review .content {
  display: inline-block;
  position: relative;
  top: 0;
  right: 0;
  left: 0;
  float: right;
  height: 100%;
  width: 70%;
}

.review .content .title{
  font-weight: bold;
  font-size: 15px;
  display: inline-block;
}

.review .content .rating{

}

.review .content .description {
  margin-top: 5px;
}

.review .content .meta {
  font-size: 11px;
}

.review .content .extra {
  position: absolute;
  bottom: 1%; 
}


.review-menu {
  margin-bottom: 2px;
}

.review-menu .sort{
  display: inline-block;
}

.review-menu .category{
  display: inline-block;
}

.ui.button.loadMore {
  width: 100%;
  margin-bottom: 10px;
  height: 50px;
}