.review {
  height: 130px;
  border-top: 4px #355373  solid;
  margin-bottom: 35px;
  padding: 5px;
}

.review .image{
  display: inline-block;
  position: relative;
  height: 100%;
  width: 25%;
}

.review .image img{
  position: relative;
  width: 100%;
  height: 80%;
  background-color: #666;
}


.review .content {
  display: inline-block;
  position: relative;
  top: 0;
  right: 0;
  left: 0;
  float: right;
  height: 100%;
  width: 70%;
}

.review .content .title{
  font-weight: bold;
  font-size: 15px;
  display: inline-block;
}

.review .content .rating{

}

.review .content .description {
  margin-top: 5px;
  margin-bottom: 10px;
}

.review .content .meta {
  font-size: 11px;
}

.review .content .extra {

}


.review-menu {
  margin-top: 2px;
  height: 40px;
  font-size: 16px;
  padding: 10px;
}

.review-menu .sort{
  display: inline-block;
  width: 45%;
  padding-left: 30px;
  
}

.review-menu .category{
  display: inline-block;
  width: 45%;
  padding-left: 30px;
  border-right: 2px solid #000;
}

.review-menu .category .dropdown{
}

.review-menu .sort .dropdown{
}


.ui.button.loadMore {
  width: 100%;
  margin-bottom: 10px;
  height: 40px;
  background-color: #CCE1E4;
}

#tag {
  background-color: #DBECE5;
  font-size: 8px;
}


