.chat {
	height: 85px;
	width: 100%;
	border: solid 1px ;
	border-collapse: collapse;
	padding: 5px;
}

.chat .picture img{
	margin: 5px 15px 5px 5px;
	width: 60px;
	height: 60px;
	float: left;
	border-radius: 500em;
}


.chat .content{
	height: 100%;
	width: auto;
	overflow: hidden;
}

.chat .content .name {
	font-size: 18px;
}

.chat .content p{
	margin-bottom: 10px
}

.ChatsHeader{
	padding: 10px;
	width: 100%;
	height: 10%;

	border-style: solid;
	border-color: #dddddd;
}

.ChatsHeader .glyphicon{
	float: right;

}

#addChat .researchResult{
	padding: 0px 10px;
}

#addChat img {
	width: 50px;
	height: 50px;
	border-radius: 500em;
	display: inline-block;
	margin-right: 10px;
}
#addChat .username {
	display: inline-block;
	font-size: 16px;
	font-weight: bold;
	position: relative;
	top: -15px;
}
