.Chat{
	padding: 10px;
	width: 100%;
	height: 20%;

	border-style: solid;

	border-color: #fff #dddddd #dddddd #dddddd ;
	background: #fff;
}

.Chat .Name {
	font-size: 15px;
}
.Chat .LastMessage {
	padding-left: 20px;
}

.Chat .LastUpdate{
	float: right;
}

.ChatsHeader{
	padding: 10px;
	width: 100%;
	height: 10%;

	border-style: solid;
	border-color: #dddddd;
}

.ChatsHeader .glyphicon{
	float: right;

}