
#mapButtons{
	position: fixed;
	bottom: 20px;
	width: 84%;
	margin-left: 8%;
}

#mapButtons .ui.button{
	width: 50%;
	font-size: 12px;
}

#readReviews {
	background-color: #7BA0A9;
	border-right: 1px solid;
}

#writeReviews{
	background-color: #7BA0A9;
	color: #fff;
}