#header {
	padding: 10px;
	width: 100%;
	position: relative;
	top: 0;
	left: 0;
	background: #ddd;
	border-bottom: 1px solid #333;
}


#header .left{
	display: inline-block;
	position: relative;
	top: -3px;
}

#header .center{
	display: inline-block;
	font-size: 20px;
	width: 70%;
	margin: 0px;
	height: 25px;
}

#header .right{
	display: inline-block;
	position: relative;
	float: right;
}