#header {
	width: 100%;
	position: relative;
	top: 0;
	left: 0;
	background: #ddd;
    -webkit-user-select:none;
    height: 50px;


    /*background-color: #7BA0A9;*/
    background-color: #9DACB0;
}



#header .left{
	display: inline-block;
	position: relative;
	height: 100%;
	padding: 10px;
}

#header .center{
	display: inline-block;
	font-size: 20px;
	width: 70%;
	margin: 0px;
	height: 25px;
	padding: 10px;

}

#header .right{
	display: inline-block;
	right: 0px;
	height: 25px;
	margin: 0px;
}